Quelles données à analyser ? 
la vente la moins bonne / la meilleur dans le monde
total des ventes par publisher
nombre de jeu vendu par platforme
nombre de jeu vendu par genre

In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('video_games_sales.csv')

In [3]:
data

,rank,name,platform,year,genre,publisher,na_sales,eu_sales,jp_sales,other_sales,global_sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37
...,...,...,...,...,...,...,...,...,...,...,...
16593,16596,Woody Woodpecker in Crazy Castle 5,GBA,2002.0,Platform,Kemco,0.01,0.00,0.00,0.00,0.01
16594,16597,Men in Black II: Alien Escape,GC,2003.0,Shooter,Infogrames,0.01,0.00,0.00,0.00,0.01
16595,16598,SCORE International Baja 1000: The Official Game,PS2,2008.0,Racing,Activision,0.00,0.00,0.00,0.00,0.01
16596,16599,Know How 2,DS,2010.0,Puzzle,7G//AMES,0.00,0.01,0.00,0.00,0.01
16597,16600,Spirits & Spells,GBA,2003.0,Platform,Wanadoo,0.01,0.00,0.00,0.00,0.01

In [4]:
data[["platform","global_sales"]]

      platform  global_sales
0          Wii         82.74
1          NES         40.24
2          Wii         35.82
3          Wii         33.00
4           GB         31.37
...        ...           ...
16593      GBA          0.01
16594       GC          0.01
16595      PS2          0.01
16596       DS          0.01
16597      GBA          0.01

[16598 rows x 2 columns]

In [5]:
df = pd.DataFrame(data)

LA MEILLEUR ET MOINS BONNE VENTE

In [6]:
df['global_sales'].idxmax()
df.iloc[0,:]

rank                     1
name            Wii Sports
platform               Wii
year                2006.0
genre               Sports
publisher         Nintendo
na_sales             41.49
eu_sales             29.02
jp_sales              3.77
other_sales           8.46
global_sales         82.74
Name: 0, dtype: object

In [7]:
df['global_sales'].idxmin()
df.iloc[15980,:]

rank                 15983
name                 Turok
platform                PC
year                2008.0
genre               Action
publisher       Touchstone
na_sales               0.0
eu_sales              0.01
jp_sales               0.0
other_sales            0.0
global_sales          0.01
Name: 15980, dtype: object

Récupérer les 5 plus grand vendeur

In [8]:
globalSalesByPublisher = df.groupby(['publisher'])['global_sales'].count()
globalSalesByPublisher.nlargest(10)

publisher
Electronic Arts                 1351
Activision                       975
Namco Bandai Games               932
Ubisoft                          921
Konami Digital Entertainment     832
THQ                              715
Nintendo                         703
Sony Computer Entertainment      683
Sega                             639
Take-Two Interactive             413
Name: global_sales, dtype: int64

Récupérer le nombre de jeu vendu par platforme

In [9]:
globalSalesByPlatform = df.groupby(['platform'])['global_sales'].count()
globalSalesByPlatform.nlargest(3)

platform
DS     2163
PS2    2161
PS3    1329
Name: global_sales, dtype: int64

Récuperer le nombre de jeu vendu par genre

In [12]:
globalSalesByGenre = df.groupby(['genre'])['global_sales'].count()
globalSalesByGenre.nlargest(10)

genre
Action          3316
Sports          2346
Misc            1739
Role-Playing    1488
Shooter         1310
Adventure       1286
Racing          1249
Platform         886
Simulation       867
Fighting         848
Name: global_sales, dtype: int64

Trouver l'année où il y a eu le plus de vente

In [11]:
globalSalesByYear = df.groupby(['year'])['global_sales'].count()
print("L'année où il y a eu le plus de vente dans le monde :", globalSalesByYear.idxmax() ,"nombre de ventes" ,globalSalesByYear.max())

L'année où il y a eu le plus de vente dans le monde : 2009.0 nombre de ventes 1431